{% extends 'base.html.twig' %}

{% block title %}Mentions légales{% endblock %}

{% block content %}
<div class="row mb-2 mb-xl-3">
    <div class="col-auto d-none d-sm-block">
        <h1 class="h2">Mentions légales</h1>
    </div>
</div>
{% endblock %}
