<h1>Bonjour !</h1>

<h2>S'il vous plait veuillez confirmer votre email</h2>

<p>
    Veuillez confirmer votre adresse électronique en cliquant sur le lien suivant : <br><br>
    <a href="{{ signedUrl }}">Confirmer mon email</a>.
    Ce lien expirera dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Bonne journée!
</p>

<h2>L'équipe Atempo</h2>
