{% extends 'admin.html.twig' %}

{% block title %}Ajouter une Catégorie{% endblock %}

{% block content %}
        <h1>Ajouter une nouvelle catégorie</h1>

        {{ form(categorie_form) }}
{% endblock %}
