{% extends 'base.html.twig' %}

{% block title %}Créer une absence{% endblock %}

{% block content %}
    <h1>Créer une absence</h1>

    {{ form_start(form) }}
    {{ form_row(form.student) }}
    {% if app.request.attributes.get('_route') == 'professeur_absence_create' %}
    {{ form_row(form.event) }}
    {% endif %}

    <button type="submit" class="btn btn-primary">Valider</button>
    {{ form_end(form) }}
{% endblock %}
